<div class="map-container">
    <div class="burger-menu tui-space_left-5 tui-space_top-4">
        <button appearance="floating" tuiButton tuiDropdownAlign="right" type="button"
            [tuiAppearanceState]="open ? 'active' : null" [tuiDropdown]="dropdown" [tuiDropdownSided]="true"
            [(tuiDropdownOpen)]="open">
            <tui-icon icon="@tui.material.filled.menu"></tui-icon>
        </button>
    </div>

    <ng-template #dropdown let-close>
        <tui-data-list class="dropdown-list">
            <tui-opt-group>
                <!-- <button
                *ngFor="let item of items"
                tuiOption
                type="button"
                (click)="onClick()"
            > -->
                @for (item of menuItems; track item){
                <button class="dropdown-item" tuiOption new (click)="close()">
                    {{ item }}
                </button>}
            </tui-opt-group>
        </tui-data-list>
    </ng-template>
    <div #mapContainer class="map" id="map">
    </div>
</div>
<ng-template #markerContainer></ng-template>